body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #ffccd9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow-x:  hidden;
    border: none;
}

.container {
     margin-bottom: 20vh;
     /* /* width: 90%; */
     max-width: 1000px; 
     z-index: 2;
     position:relative;
}


.container h1 {
    font-family: 'Great Vibes', 'Dancing Script', cursive;
    /* font-size: 7em; */
    font-size: clamp(2.5rem, 8vw, 7rem);
    text-shadow: 2px 2px 5px rgba(255,0,100,0.3); /* soft glow */
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.button-container .buttons{
    /* font-size: 2.3em; */
    font-size: clamp(1rem, 4vw, 2.3rem);
    font-family: 'Pacifico', cursive;
    padding: 10px 20px;
    margin: 10px; 
    cursor: pointer;
    border: none;
    border-radius: 100px;
    transform: scale(1) translate(0, 0);
    transition: transform 0.3s ease-out background-color 0.3s; 
}

#yesBtn{
    background-color: #ff4d6d;
    color: white;
    transform-origin: top-left;
}

#noBtn {
    background-color: #aaa;
    color: white;
    /* position: absolute; */    
}

.hidden{
    display: none;
}

.corner {
    position: fixed;
    width: 55vw;
    max-width: 180px;
    height: auto;
    margin: 20px;
    z-index: 0;
    /* opacity: 0.8; */
    transition: transform 5s linear;
    animation: float 6s infinite ease-in-out;
    z-index: -1;
}

.top-left {
    top: 10px;
    left: 10px;
}

.top-right {
    top: 10px;
    right: 10px;
}

.bottom-left {
    bottom: 10px;
    left: 10px;
}

.bottom-right {
    bottom: 10px;
    right: 10px;
}

@keyframes float {
    0% { transform: translateY(0px) rotate(0deg);}
    50% {transform: translateY(-10px) rotate(10deg);}
    100% { transform: translateY(0px) rotate(0deg);}
}


.corner {
    animation: float 6s infinite ease-in-out;
}

.love-pics-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

.love-pics-grid img{
    border-radius: 20px;
    width: 100%;
    height: 300px;
    max-height: 50vw;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.love-pics-grid img:hover {
    transform: scale(1.1);
}

#loveMessage h2 {
    font-family: 'Great Vibes', 'Dancing Script', cursive;
    /* font-size: 5em; */
      font-size: clamp(2rem, 6vw, 5rem);
    text-shadow: 2px 2px 5px rgba(255,0,100,0.3); 
    z-index: 2;
}

@media (max-width: 480px) {

    .corner {
        width: 25vw;
        opacity: .5;
    }

    .button-container {
        flex-direction: column;
        gap: 15px;
    }

    .love-pics-grid {
        grid-template-columns: 1fr;
    }

    .love-pics-grid img {
        height: 60vw;
    }
}